@import url('https://fonts.googleapis.com/css?family=Merriweather:300i');

@mixin centered-message() {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Merriweather', serif;
  font-size: 5em;
  user-select: none;
}
