.circle-enter {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  position: fixed;
  transition: all 7s linear;
  will-change: transform, opacity;
}

.circle-enter-active {
  transform: scale(500);
  opacity: 0;
}
