.circle-enter {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: fixed;
  transform: scale(0);
  transition: transform 7s linear, opacity 7s linear;
  will-change: transform, opacity;
  overflow: visible;
}

.circle-enter-active {
  transform: scale(1);
  opacity: 0;
}
